* {
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

.back-img{
    background-color: grey;
}

.intro{
    position: relative;
    margin: 100px 100px;
    padding: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 2% 20%;
}

.quiz-box {
    background-color: white;
    position: relative;
    float: right;
    width: 700px; 
    height: 700px;
    margin: 10% 0% 0% -20%;
}

.image-box {
    background-color: gray;
    position: sticky;
    float: left;
    width: 500px; 
    height: 400px;
    margin: 5% 0% 0% 5%;
}

button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
}

h1{
    background-color: grey;
    height: 80px;
    margin: 30px 10px;
    margin-top: 30px;
}

#h1-start {
    background-color: lightgrey;
    height: 80px;
    margin: 30px 10px;
    margin-top: 30px;
}

p {
    background-color: grey;
    height: 50%;
    width: 50%;
    margin: 30px 10px;
    margin-top: 30px;
}

#p-start{
    background-color: lightgrey;
    height: 10px;
    width: auto;
    padding: 40% 40%;
    
}

@media only screen and (max-width: 900px) {
   .container {
        margin: 2% 2%; 
      }

      .intro{
        position: relative;
        margin: 100px 100px;
        padding: 20px;
    }
  }

  @media only screen and (min-width: 1024px) {
 
       .intro{
         position: relative;
         margin: 100px 20%;
         padding: 20px;
     }
   }
 

